html, body {
	height: 100%;
	margin: 0;
}

html {
	font-size: 14pt;
	~min-width: 25em;
}

body {
	font-size: 1.3em;
	background-color: #e5d6c0;
	~min-width: 25em;
}


.header , .main , .footer, .horizontal_menu  {
	~border: 1px solid black;
	box-sizing: border-box;
} 

.header {
	position: absolute;
	top: 0;
	min-width: 22.5em;
	width: 100%;
	
	height: 4em;
	text-align: center;
	~border: 1px solid black;
	overflow: auto;
	
	margin: 0;
}
.horizontal_menu {
	position: absolute;
	top: 4em;
	width: 100%;
	min-width: 22.5em;
	height: 2em;
	text-align: center;
	~vertical-align: bottom;
	background-color: #7f776b;
	
}
.horizontal_menu > a {

	margin-top: calc(1em - 8px);
	~box-sizing: border-box;
	~border: 1px solid black;
	display: inline-block;
	~float: left;
	~margin: 5px;
	padding-left: 5px;
	padding-right: 5px;
	
}
.main {
	position: absolute;
	top: 6em;
	width: 100%;
	min-width: 22.5em;
	height: calc(100% - 9em);
	min-height: 11em;
	background-color: #ffeed6;
	overflow: none;

}
.content {
	position: relative;
	min-height: 11em;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	margin: auto;
	padding: 0.5em;
	box-sizing: border-box;
	~border: 1px solid black;
	overflow: auto;

}
.content p {
	margin-top: 0;
	margin-bottom: 0;
}

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 3em;

	border-top: 1px solid #8a3434;
	~border: 1px solid black;
	~background-color: grey;
	box-sizing: border-box;
}

p {
	~font-size: 3em;
}

h1 {
	~font-size: 3em;
	margin-bottom: 0px;
	color: #403b35;
}


.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 12em;
  height: 9.8em;
  ~display:inline-block;
  border: 1px solid #8a3434;
  border-radius: 0.7em / 0.7em;
  background-color: #decfba;
}


label {
margin-top: 10px;
margin-bottom: 2px;
display: block;
margin-left: 10px;
~border: 1px solid black;
font-size: 0.7em;

}

input {
margin: 0;
margin-left: 10px;
~margin-right: 10px;
font-size: 0.7em;
}

input[type="text"],
input[type="password"]{
display: block;
width: calc(100% - 20px);
box-sizing: border-box;
}

input[type="submit"] {
margin-top: 0.8em;
margin-bottom: 10px;
}

input[type="reset"] {
margin-top: 0.8em;
margin-bottom: 10px;
}

h2 {
font-size: 0.9em;
~margin-left: 10px;
margin-bottom: 0px;
text-align: center;
}

a {
	color: #ffeed6;
}

a:visited {
	color: #decfba;
}

a:link {
	color: #ffeed6;
}

a:hover {
	color: #fcff00;
}

#info {
	font-size: 0.7em;
	margin-left: 10px;
}