

.main {
	~padding-top: 0.5em;
	~font-size: 14pt;
	~box-sizing: border-box;
	~height: 100%;
	~border: 1px solid black;
	~overflow: auto;
}

#input_form {
	~display : none;
	
	border: 1px solid #8a3434;
	border-radius: 0.5em / 0.5em;
	~background-color: #decfba;
	padding: 0.5em;
	width: 14em;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 1em;
	overflow: auto;
	box-sizing: border-box;
	
}

#output {
	~display : none;
	
	~padding: 0.5em;
	width: 40em;
	margin: 0 auto;
	
	~overflow: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	box-sizing: border-box;
	min-height: calc(100% - 26.5em - 1px);
	~border: 1px solid black;

}

#title {
	display: inline-block;
	width: 100%;
}

#note {
	display: inline-block;
	width: 100%;
	height: 6em;
}


.header_add_note {
	~padding-bottom: 0.5em;
}

.header_add_note > h2 {
	margin: 0;
	~padding-top: 0.5em;
	~padding-bottom: 0.5em;
	text-align: center;
}

label {
	padding-top: 0.5em;
	padding-bottom: 0.2em;
	display: inline-block;
	margin: 0;
}

textarea {
	resize: none;
	font-size: 1.0em;
	box-sizing: border-box;
}

input[type="text"] {
	margin: 0;
	font-size: 0.9em;
}

.content_add_note {
	
}

.input {
	
}

button {
	display: block;
	margin: 0 auto;
	margin-top: 0.5em;
	margin-top: 0.5em;
	font-size: 0.8em;
}

.notes {
	~display: inline-block;
	box-sizing: border-box;
	width: 100%;

	max-width: 40em;
	margin: 0 auto;
}
.notes > .note {
	margin-bottom: 1em;
	~margin-top: 0.5em;
	~border-radius: 0.5em / 0.5em;
	~border: 1px solid #8a3434;
	
}

.notes > .note > .title_note {
	~background-color: #bfc2cf;
	~background-color: #a9aac2;
	background-color: #bbbcca;
	font-size: 1.1em;
	font-weight: bold;
	padding: 0.3em;
	border-radius: 0.5em 0.5em 0em 0em;
	border-top: 1px solid #8a3434;
	border-left: 1px solid #8a3434;
	border-right: 1px solid #8a3434;
	text-align: left;
	min-height: 1em;
}

.title_note > h2 {
	display: inline-block;
	text-align: left;
	padding: 3px;
	margin: 0;
	width: calc(100% - 62px - 0.2em);
}

.title_note > h2[contenteditable='true'] {
	background-color: #e0e1e7;
	
	border-radius: 0.5em 0em 0em 0em;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	min-height: 1em;
}

.title_note > .menu  {
	display: block;
	float: right;
	~text-align: right;
	~width: 100%;
	~position: absolute;
	~top: 0;
	~right: 0;
}

.title_note > .menu > .delete_note {
~position: absolute;
~top:0;
~right:0;
~border: 2px solid #818bff;
~border: 1px solid #8a3434;
~padding: 5px;
~border-radius: 0.2em;

}

.title_note > input[type="text"] {
	display: inline-block;
	width:calc(100% - 60px);
	~float:left;
	~background-color: #dddee5;
	background-color: #eeeef2;
	border-width: 1px;
	
}

.notes > .note > .content_note {
	~background-color: #d3d8e1;
	background-color: #e1e1eb;
	box-sizing: border-box;
	padding: 0.3em;
	~min-height: 2em;
	
	border-radius: 0em 0em 0.5em 0.5em ;
	border-bottom: 1px solid #8a3434;
	border-left: 1px solid #8a3434;
	border-right: 1px solid #8a3434;
	white-space: pre-wrap;
}

.content_note > .debug {
	white-space: pre-wrap;
}

.body_note {
	white-space: pre-wrap;
	min-height: 1em;
	
}

.body_note[contenteditable='true'] {
	background-color: #f1f1f6;
	border-radius: 0em 0em 0.5em 0.5em ;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	


}


.note > .content_note > .body_note > textarea {
	
	width: 100%;

	min-height: 10em;
	~overflow: auto;
	~box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #efeff4;
	border-radius: 0em 0em 0.5em 0.5em;
	border-width: 1px;

}

.body_note div {
	border: 1px solid black;
	margin: 1em;
	display: inline-block;
}



.title_note > .menu > .delete_note:hover {
~border: 1px solid #474b7a;
}


.menu > img {
vertical-align: middle;
margin-left: 4px;
}


#debug div {
padding: 2em; 
display: inline-block;
border: 1px solid black;
}

